.leftMenu{
    width: 20%;
    height: 100vh;
    background-color: var(--menu-color);
    color: white;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    transition: var(--transition);
    top: 0;
    left: 0;
    z-index: 1;
}

.leftMenu .logoContainer{
    color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.leftMenu .logoContainer i{
    font-size: 30px;
}

.leftMenu .logoContainer i :nth-of-type(0){
    font-size: 30px !important;
}

.leftMenu .logoContainer h2 {
    font-size: 30px;
    font-weight: 700;
}

.leftMenu .menuIcons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
}

.leftMenu .menuIcons .menuIcon{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--icon-color);
    margin-bottom: 10px;
}

/*on hover grow a bit and have a green outline on the left side*/
.leftMenu .menuIcons .menuIcon:hover{
    transform: scale(1.1);
    transition: var(--transition);
    color: var(--menu-color-hover);
}

.leftMenu .menuIcons .menuIcon h3{
    margin-left: 20px;
    font-size: 15px;
}

.leftMenu .menuIcons .menuIcon i{
    font-size: 30px;
}


